h1 {
  font-size: 4em;
  font-weight: 700; }

h2 {
  font-size: 2em;
  font-weight: 300; }

h3 {
  font-size: 1.5em; }

p {
  font-size: 1.2em; }

p, li {
  font-family: "Cormorant Garamond", Helvetica, serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento", Georgia, Cambria, "Times New Roman", serif; }

li {
  list-style: disc;
  list-style-position: inside;
  font-size: 1.1em; }

header {
  width: 100vw;
  background-color: #d4e7e7;
  color: #ffffff; }

.headerContainer {
  max-width: 1080px;
  display: flex;
  padding-bottom: 20px; }

.branding {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  font-weight: 700;
  font-family: "Quattrocento", Georgia, Cambria, "Times New Roman", serif; }

.logo {
  font-size: 6em;
  text-align: center; }

svg {
  padding-top: 20px;
  height: 80px;
  stroke: #070707;
  stroke-width: 2px;
  fill: #f9b89e; }

.appName {
  font-size: 2em; }

#headerNav {
  display: flex;
  width: 80%;
  font-weight: 700; }
  #headerNav ul {
    width: 100%;
    font-family: "Quattrocento", Georgia, Cambria, "Times New Roman", serif;
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    flex-direction: row; }
    #headerNav ul li {
      flex: 1 1 14%;
      display: flex;
      list-style: none;
      padding-right: 3px;
      font-size: 1.4em; }
      #headerNav ul li a {
        color: #ffffff; }

@media screen and (max-width: 989px) {
  .branding {
    padding-left: 25px; }
  #headerNav ul li {
    flex: 0 1 14%;
    font-size: 1.2em; } }

@media screen and (max-width: 750px) {
  .headerContainer {
    background: #ffffff;
    color: #070707;
    flex-direction: column; }
  .branding {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 2em; }
  #headerNav {
    display: flex; }
    #headerNav ul {
      padding-left: 40%;
      padding-top: 10px;
      flex-direction: column;
      justify-content: flex-start; }
      #headerNav ul li {
        flex: 0 1 5.2%;
        font-size: 1.9em; }
        #headerNav ul li a {
          color: #f9b89e; }
  svg {
    padding-top: 20px;
    height: 120px;
    stroke: #f9b89e;
    stroke-width: 2px; } }

.wrapper {
  flex: 1;
  max-width: 1080px;
  align-content: flex-end;
  padding: 2em 1em;
  min-height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #ea4772; }

.legend {
  color: #f9b89e;
  font-weight: 800;
  font-size: .6em; }

footer {
  width: 100vw;
  background-color: #d4e7e7; }

.footerContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  color: #ffffff;
  width: 90%; }

.brandName {
  font-size: 1.8em;
  font-weight: 700;
  font-family: "Quattrocento", Georgia, Cambria, "Times New Roman", serif; }

.appDescription {
  font-size: .8em;
  font-style: italic; }

.appInfo {
  flex: 1 0 32%; }
  .appInfo li {
    list-style: none; }

.socialMenu {
  flex: 1 0 36%; }
  .socialMenu li {
    list-style: none;
    font-weight: 800; }
    .socialMenu li a {
      color: #ffffff; }

@media screen and (max-width: 750px) {
  ul {
    padding-left: 5px; }
  .footerContainer {
    flex-direction: column; }
  .socialMenu {
    flex: 1 0 2%; }
  .appInfo {
    flex: 1 0 2%; } }

html {
  overflow-x: hidden; }

body {
  width: 90vw;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #ea4772; }

a {
  color: #f9b89e;
  text-decoration: none; }

a:hover, a:focus {
  color: #b8b82c; }

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d4e7e7;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.item-image {
  width: 100%;
  height: auto; }

.item-name {
  font-weight: 800;
  color: #ffffff;
  padding: 0 5px; }

tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

tr {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

table {
  color: #ffffff;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.sharedBy {
  color: #ffffff;
  font-family: "Cormorant Garamond", Helvetica, serif;
  padding-bottom: 10px;
  font-weight: 100;
  font-size: .8em; }

.item-userName {
  font-weight: 800; }

@media screen and (max-width: 750px) {
  .wrapper {
    padding: 0; }
  .item {
    padding: 0;
    width: 100vw;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  tr {
    flex: 1 0 100%; } }
