footer {
    width: 100vw;
 border-top:2px solid $color__secondary;
    background-color: $color__header;
    font-size: 24px;
}

.footerContainer {

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    color: $color__secondary;
    width: 90%;

}

.brandName {
    font-size: 1.8em;
    font-weight: $font-weight__bold;
    font-family: $font__aa;
}
 .appDescription{
        font-size: .8em;
        font-style: italic;
    }
.appInfo {
    flex: 1 0 32%;
    li {
        list-style: none;
    }

}

.socialMenu {
    flex: 1 0 36%;
    li {
        list-style: none;
        font-weight: 800;
        a{ color:$color__secondary;
        }
    }
}
@media screen and (max-width: $screen-width__small) {
    ul{
        padding-left:5px;
    }
.footerContainer{
    flex-direction: column;
}
.socialMenu{
    flex:1 0 2%;
}
.appInfo {
     flex:1 0 2%;
}}