footer {
    width: 100vw;
 border-top:2px solid $color__secondary;
}

.footerContainer {

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: $color__primary;
    color: $color__secondary;
    width: 100vw;

}

.brandName {
    font-size: 1.8em;
    font-weight: $font-weight__bold;
    font-family: $font__aa;
}
 .appDescription{
        font-size: .8em;
        font-style: italic;
    }
.appInfo {
    flex: 1 0 50%;
    li {
        list-style: none;
    }

}

.socialMenu {
    flex: 1 0 50%;
    li {
        list-style: none;
    }
}
@media screen and (max-width: $screen-width__small) {
.footerContainer{
    flex-direction: column;
}
.socialMenu{
    flex:1 0 2%;
}
.appInfo {
     flex:1 0 2%;
}}