header{
    width:100vw;
    background-color: $color__header;
    color:$color__secondary;
//    border-bottom:2px solid $color__secondary;
}
.headerContainer {
    max-width:$screen-width__large;
    display: flex;
     
    padding-bottom:20px;

}

.branding {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    font-weight: $font-weight__bold;
    font-family:$font__aa;
}

.logo {
    font-size: 6em;
    text-align: center;
}
svg{
    padding-top:20px;
    height:80px;
    stroke:$color__primary;
    stroke-width:2px;
    fill:$color__interactive;
}

.appName {
    font-size: 2em;

}

#headerNav {
    display: flex;
   
width: 80%;
    font-weight: 700;

    ul {
        width: 100%;
        font-family: $font__aa;
        padding-top: 40px;
        padding-left:40px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        flex-direction: row;

        li {
            flex: 1 1 14%;
            display:flex;
            list-style: none;
            padding-right: 3px;
            font-size: 1.4em;
            a{
                color:$color__secondary;
            }
        }
    }
}
@media screen and (max-width: $screen-width__med) {
    .branding{
        padding-left: 25px;
    }
    #headerNav {
        ul {
            li {
                flex: 0 1 14%;
                font-size: 1.2em;
            }
        }
    }
}

@media screen and (max-width: $screen-width__small) {
    .headerContainer{
        background:$color__secondary;
                color:$color__primary;
        flex-direction: column;
    }
    .branding{
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        font-size:2em;
    }
    #headerNav {
        display:flex;
        ul {
            padding-left: 40%;
            
            padding-top:10px;;
            flex-direction: column;
            justify-content: flex-start;
            
            li {
                a{
                    color:$color__interactive;
                }
//                background-color: $color__primary;
//                @include border-radius(22px);
                flex: 0 1 5.2%;
                font-size: 1.9em;
            }
        }
    }
    svg{
    padding-top:20px;
    height:120px;
    stroke:$color__interactive;
    stroke-width:2px;
}
}