//import header styles
@import 'header';
//import body styles
@import 'body';
//import footer styles
@import 'footer';
html{
    overflow-x:hidden;
}

body{
    width:100vw;
    max-width:100vw;
    margin:0;
    padding:0;
    background-color:$color__background;
   
}

a{
    color:$color__interactive; 
    text-decoration: none;
}
a:hover, a:focus{
   color:$color__hover; 
}
